# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Virtual environments
env/
venv/
ENV/
.venv/
.python-version

# Environment variable files
.env
.env.*
env_example

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Test and coverage outputs
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
.pyre/

# Local data
*.sqlite3
*.db

# Node modules (if any)
node_modules/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Misc
*.bak
*.swp
*.swo
